.Stepper_container {
    display: flex;
    width: 90%;
    height: 50px;
    background-color: grey;
}

.Stepper_steps {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    background-color: lavender;
    width: 20%;
    height: 20px;
}