.Pieces {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  width: 100%;

  &_list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Piece {
    display: flex;
    flex-direction: column;
    min-width: 33%;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: flex-start;
    > h5 {
      margin-left: 0.5rem;
    }
    &_horizontal {
      display: flex;
      flex: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &_cookie,
    &_egg,
    &_frog {
      margin: 1rem 2rem;
      width: 55px;
      height: 55px;
    }
  }
}

.text-figure-footer {
  font-family: "Mandalore";
  width: 100%;
  min-height: 56px;
  padding: 0 0.5rem;
  + .grogu-svg {
    margin-top: 1rem;
  }
  + .wardrobe-svg {
    margin-top: 1.25rem;
    width: 80px;
    height: 80px;
  }
}

.pieces_separator {
  border-left: 2px solid rgba(0, 0, 0, 0.61);
  border-right: 2px solid rgba(0, 0, 0, 0.61);
  min-height: 287px;
}
