.Pieces {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  width: 100%;

  &_container {
    width: 100%;
    padding-bottom: 2rem;
  }
  &_list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .Piece {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    width: 33%;
    margin-bottom: 3rem;
    height: 200px;
    align-items: center;
    justify-content: flex-start;
    > h5 {
      margin-left: 0.5rem;
    }
    &_horizontal {
      display: flex;
      flex: row;
      justify-content: center;
    }
    &_cookie, &_egg, &_frog {
     margin: 1rem 2rem;
    }

  }
}

.text-figure-footer {
  font-family: "Mandalore";
  width: 100%;
  + .grogu-svg {
    margin-top: 1rem;
  }

  + .wardrobe-svg {
    margin-top: 1.25rem;
    width: 80px;
    height: 80px;
  }
}

.pieces_separator {
  border-left: 2px solid rgba(0, 0, 0, 0.61);
  border-right: 2px solid rgba(0, 0, 0, 0.61);;
}
