.GameBoard_container{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
    height: 100vh;
}

.pointer-wrapper {
    width: 50%;
    background-color: pink;
}